@page
@model registerModuleRPC.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div>
    <img src="https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" height=200 width=300 style="margin-top:5%; align-content:center"><br>
    <h1 style="text-align:center">RPC::Red de Programación competitiva</h1> <br> 
</div>
<h4>Sign Up</h4>
<hr />
<div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label">User name: </label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label">Password:</label>
                <input type="password" asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password:</label>
                <input type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label">First name:</label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label">Last name:</label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label">Birthdate:</label>
                <input type="date" asp-for="User.BirthDate" class="form-control" /> 
                <span asp-validation-for="User.BirthDate" class="text-danger"></span> <br>
            </div>
            <div>
                <br> <input type="submit" value="Save" class="btn-primary"/>
                <a href="\..\Index"><input type="button" value="Cancel" class="btn-primary"></a><br><br>
            </div>
        </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
