@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
    <img src = "https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" style="height:200px;"/>
    <h1>RPC::Red de Programación competitiva</h1>

    <h1 class="display-4">Sign in</h1>
    <hr>
    <label for="username">UserName:</label>
    <br>
    <input type="text" id="username" name="username">
    <br>
     <label for="password">Password:</label>
     <br>
    <input type="password" id="password" name="password">
    <br>

    
    <form method="post" asp-page="Index">
        <input type="submit" value="SIGN IN" asp-page-handler="SignIn"/>
    </form>
    <hr>
     <label>New User:</label>
     <br>

    <form method="get" action="/Users/Create">
        <button type="submit">SIGN UP</button>
    </form>

 
</div>
