@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <img src = "https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" id="logo">
    <h1>RPC::Red de Programación competitiva</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    <img src = "https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" style="height:200px;"/>
    <h1 class="display-4">Sing in</h1>
    <hr>
    <label for="username">UserName:</label>
    <br>
    <input type="text" id="username" name="username">
    <br>
     <label for="password">Password:</label>
     <br>
    <input type="password" id="password" name="password">
    <br>

    <button>SIGN IN</button>
     <hr>
     <label>New User:</label>
     <br>

     <button>SIGN UP</button>

  
    
>>>>>>> 49f950e6d264fcde558d65be90b1e4cd4dacdfd5
</div>
