@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
    <img src = "https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" style="height:200px;margin-top:7%"/><br>
    <h1>RPC::Red de Programación competitiva</h1><br>

<<<<<<< HEAD
    <h4>Sing in</h4>
=======
    <h1 class="display-4">Sign in</h1>
>>>>>>> af9ba9377c60d1b8261f22028e79d06a9ef9d936
    <hr>
    <label for="username">UserName:</label>
    <br>
    <input type="text" id="username" name="username"><br>
    <br>
     <label for="password">Password:</label>
     <br>
    <input type="password" id="password" name="password"><br><br>

<<<<<<< HEAD
    <button onclick="BtSignIn" class="btn-primary">SIGN IN</button>
     <hr>
     <label>New User:</label><br>
=======
    
    <form method="post" asp-page="Index">
        <input type="submit" value="SIGN IN" asp-page-handler="SignIn"/>
    </form>
    <hr>
     <label>New User:</label>
>>>>>>> af9ba9377c60d1b8261f22028e79d06a9ef9d936
     <br>

    <form method="get" action="/Users/Create">
        <button type="submit" class="btn-primary">SIGN UP</button><br>
    </form>

 
</div>
