@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
    <img src = "https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" style="height:200px;margin-top:7%"/><br>
    <h1>RPC::Red de Programación competitiva</h1><br>
    <h4>Sing in</h4>
    <hr>
    <label for="username">UserName:</label>
    <br>

    <input type="text" asp-for="Username" name="username" ><br>
    <br>
     <label for="password">Password:</label>
     <br>
    <input type="password" asp-for="Password" name="password"><br> 
    <br>

    <form method="post" asp-page="Index">
        <input type="submit" class="btn-primary" value="SIGN IN" asp-page-handler="SignIn"/>
    </form>
    <hr>
     <label>New User:</label><br>
     <br>

    <form method="get" action="/Users/Create">
        <button type="submit" class="btn-primary">SIGN UP</button><br>
    </form>

 
</div>
